<h1>Editing bulk mailer</h1>

<%= render "form", bulk_mailer: @bulk_mailer %>

<br>

<div>
  <%= link_to "Show this bulk mailer", @bulk_mailer %> |
  <%= link_to "Back to bulk mailers", bulk_mailers_path %>
</div>
