<div class="container-fluid has-background-info">
  <div class="columns py-3">
    <div class="column is-three-fifths is-offset-one-fifth ">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title title is-3 is-centered has-text-link">
            CVASU Mailer
          </p>
          <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
          </button>
        </header>
        <div class="card-content">
          <div class="content">

            <div class="field">
              <label class="label">To</label>
              <div class="control">
                <input class="input" type="email" placeholder="Recipient's email">
              </div>
            </div>

            <div class="field">
              <label class="label">CC</label>
              <div class="control">
                <input class="input" type="email" placeholder="CC email">
              </div>
            </div>

            <div class="field">
              <label class="label">Subject</label>
              <div class="control">
                <input class="input" type="text" placeholder="Mail Subject">
              </div>
            </div>

            <div class="field">
              <label class="label">Body</label>
              <div class="control">
                <textarea class="textarea" placeholder="Mail Body" ></textarea>
              </div>
            </div>

            <div class="field">
              <div class="file">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                </label>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
              <div class="control">
                <button class="button is-link is-light">Cancel</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>